* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body {
  font-family:'Segoe UI', Roboto, Oxygen,
'Helvetica Neue', sans-serif;
  background-color: #eeeeee;
  color: #212121;
  line-height: 1.5;
  margin: 0 auto;

}
.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1vw 3vw ;

  background: linear-gradient(to right, #54bcb7, #1f84c3);
  box-shadow: 0px 3px 5px 0px rgba(69, 121, 200, 0.5);
}

input {
  width:100%;
  height: 3vw;
  padding: 1vw;

  font-size: 16px;

  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button {
  width: 25%;
  height: 3vw;

  font-size: 16px;

  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  cursor: pointer;
  transition: background-color 300ms linear, color 300ms linear;
}
 button:hover, button:focus {
  background-color: #108cd9;
  color: #ffffff;
}

.load-more {
  background-color:#2b83b0;
  border-radius: 5px;
  margin: 2vw auto;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1vw;
    justify-content: center;
    align-items: stretch;
}



.photo-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
background-color: white;
border-radius: 5px;
width: 100%;
max-width: 30vw;


}



.img {
    border-radius: 5px 5px 0 0;
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;}

    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 15px;
        padding: 10px;
      }
      .info-item {

        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .is-hidden {
        display: none;
      }
    